<!doctype html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width">
  <title>{{title }}</title>
  <link rel="stylesheet" href="/components/bootstrap/dist/css/bootstrap.min.css">
  <link rel="stylesheet" href="/css/style.css">
  {{#if ENV_DEVELOPMENT}}
    <script src="http://localhost:35729/livereload.js"></script>
  {{/if}}
</head>
<body>

  <div class="container">
    {{> header}}

    {{#each errors as |error|}}
      <div class="alert alert-danger">{{error}}</div>
    {{/each}}

    {{#each infos as |info|}}
      <div class="alert alert-danger">{{info}}</div>
    {{/each}}

    {{#each successes as |success|}}
      <div class="alert alert-success">{{success}}</div>
    {{/each}}

    {{{body}}}
  </div>
  
	
	<link rel="stylesheet" href="/components/jquery/dist/jquery.min.js">
	<link rel="stylesheet" href="/components/bootstrap/dist/js/bootstrap.min.js">
  </body>
</html>
